$color--dark-blue: hsl(209, 23%, 22%);
$color--very-dark-blue: hsl(207, 26%, 17%);
$color--very-dark-blue-text: hsl(200, 15%, 8%);
$color--dark-gray-input: hsl(0, 0%, 52%);
$color--very-light-gray-background: hsl(0, 0%, 98%);
$color--white: #fff;

$setting--box-shadow: 0 2rem 3rem 0.5rem $color--very-dark-blue-text;