* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 36em) {
  html {
    font-size: 56.25%;
  }
}

body {
  color: #415B91;
}

.hidden {
  display: none;
}

.center {
  margin: 0 auto;
}

.general-width {
  max-width: 144rem;
}

.heading-primary {
  color: inherit;
}
@media (max-width: 36em) {
  .heading-primary {
    font-size: 2.4rem;
  }
}

.heading-secondary {
  color: inherit;
  font-size: 2.8rem;
}
@media (max-width: 79em) {
  .heading-secondary {
    padding: 4rem 0 2rem 0;
    width: 80%;
    margin: 0 auto;
  }
}

.light {
  color: hsl(200deg, 15%, 8%);
  background-color: #fff;
}

.dark {
  color: #fff;
  background-color: hsl(209deg, 23%, 22%);
}

body {
  font-size: 1.6rem;
  font-family: "Nunito Sans", sans-serif;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.header {
  background-color: #fff;
  border-color: inherit;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.countries-grid-style {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  row-gap: 3rem;
  column-gap: 3rem;
  padding: 2rem 0 4rem 0;
}
@media (max-width: 79em) {
  .countries-grid-style {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0;
  }
}
@media (max-width: 58em) {
  .countries-grid-style {
    grid-template-columns: 1fr 1fr;
    column-gap: 0;
  }
}
@media (max-width: 36em) {
  .countries-grid-style {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
}

.country__container {
  min-height: 32.5rem;
  width: 26.4rem;
  padding: 1rem;
}

.country__list {
  list-style: none;
}
.country__list--item {
  padding: 0.5rem 2rem;
  text-align: center;
}

.country__name {
  text-align: center;
  padding: 1rem 2rem;
  width: 100%;
}

.country__flag {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.country__details {
  text-decoration: none;
  color: inherit;
  background-color: #fff;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.3);
  transition: transform 0.4s, box-shadow 0.4s;
}
.country__details:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.3);
}
.country__details:active {
  transform: scale(1);
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.3);
}

.country-flag {
  display: flex;
  height: auto;
  width: 100%;
  max-height: 80rem;
  align-items: center;
  margin-left: 2rem;
  border: 3px solid;
  border-color: inherit;
}
@media (max-width: 79em) {
  .country-flag {
    margin-left: 0;
    height: 40rem;
    width: 100%;
  }
}
@media (max-width: 58em) {
  .country-flag {
    height: 30rem;
  }
}
@media (max-width: 36em) {
  .country-flag {
    margin-left: 0;
    height: 25rem;
  }
}

.container__country-details {
  width: 100%;
  margin-left: 8rem;
}
@media (max-width: 79em) {
  .container__country-details {
    margin-left: 0;
  }
}

.container__country-info {
  margin-top: 6rem;
  display: flex;
  align-items: center;
  width: 100%;
}
@media (max-width: 79em) {
  .container__country-info {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.country-info__list {
  list-style: none;
}

.country-info__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 2.4rem;
}
@media (max-width: 79em) {
  .country-info__wrapper {
    flex-direction: column;
    gap: 3rem;
    width: 80%;
    margin: 0 auto;
  }
}

.country-info__item {
  font-size: 2rem;
  padding: 1rem 0;
}

.container__border-countries {
  display: flex;
  align-items: center;
  margin: 4rem 0 1rem 0;
}
@media (max-width: 79em) {
  .container__border-countries {
    flex-direction: column;
  }
}

.bordering-country__container {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 60%;
  cursor: default;
}
@media (max-width: 79em) {
  .bordering-country__container {
    padding: 2rem;
    justify-content: center;
  }
}
@media (max-width: 31.75em) {
  .bordering-country__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0;
    width: 100%;
  }
}

.border-countries__text {
  font-size: 2rem;
  margin-right: 1.5rem;
}

.bordering-country {
  font-size: 1.8rem;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  border: 2px solid;
  border-color: inherit;
}
@media (max-width: 31.75em) {
  .bordering-country {
    margin: 1rem;
  }
}

.bordering-country--not-found {
  font-size: 1.8rem;
}

.inputs__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 3.5rem 2.5rem;
}

.search__container {
  position: relative;
}

.search-input {
  font-family: inherit;
  font-size: 1.4rem;
  outline: none;
  width: 90%;
  color: inherit;
  border: 2px solid #e7e6ef;
  padding: 0.5rem 1rem;
}
@media (max-width: 36em) {
  .search-input {
    padding: 1rem 0 1rem 3.5rem;
  }
}

.sort__button {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 3px;
  color: inherit;
  text-decoration: none;
}

.container__region {
  position: relative;
}

.region-input {
  font-family: inherit;
  font-size: 1.4rem;
  outline: none;
  padding: 0.5rem 3rem 0.5rem 1rem;
  color: inherit;
  border: 2px solid #e7e6ef;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
@media (max-width: 36em) {
  .region-input {
    padding: 1rem 3rem 1rem 2rem;
  }
}

.inputs__wrapper {
  display: flex;
  gap: 2rem;
}

.container__view {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.view-text {
  cursor: default;
}

.grid-icon {
  cursor: pointer;
}

.list-icon {
  cursor: pointer;
  font-size: 2.25rem;
}

.arrow-down {
  position: absolute;
  color: inherit;
  top: 9px;
  right: 11px;
  pointer-events: none;
}

.button__search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  right: -20px;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  background-color: #81b0ff;
  border: none;
  cursor: pointer;
  color: #fff;
  border: 1.5px solid #81b0ff;
}

#theme-mode__checkbox {
  display: none;
}

.checkbox__label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 3rem;
  width: 6rem;
  background-color: #111;
  border-radius: 5rem;
  cursor: pointer;
}

.ball {
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  background-color: #fff;
  border-radius: 50%;
  width: 2.6rem;
  height: 2.6rem;
  transition: transform 0.2s ease-in-out;
}

#theme-mode__checkbox:checked + .checkbox__label .ball {
  transform: translateX(3rem);
}

.sun {
  font-size: 2rem;
  color: orange;
}

.moon {
  font-size: 2rem;
  color: yellow;
}

.button__return {
  font-family: inherit;
  font-size: 2.4rem;
  margin-top: 6rem;
  margin-left: 2rem;
  padding: 0.5rem 3rem;
  border-radius: 5px;
  border: 2px solid;
  border-color: inherit;
  background-color: inherit;
  transition: transform 0.4s;
  color: inherit;
}
.button__return:hover {
  transform: scale(1.05);
}
.button__return:active {
  transform: scale(1);
}
@media (max-width: 79em) {
  .button__return {
    margin-left: 0;
  }
}

@media (max-width: 79em) {
  .wrapper__return-button {
    width: 80%;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=styles.css.map */
