* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background-color: $color--very-light-gray-background;
  color: $color--white;
}

.center {
  margin: 0 auto;
}

.general-width {
  max-width: 144rem;
}

.heading-primary {
  color: $color--very-dark-blue-text;
}