* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  @include respond(phone) {
    font-size: 56.25%;
  }
  @include respond(phone) {
    font-size: 50%;
  }
}

body {
  //background-color: #fff;
  color: #415B91;
}

.hidden {
  display: none;
}

.center {
  margin: 0 auto;
}

.general-width {
  max-width: 144rem;
}

.heading-primary {
  color: inherit;
  @include respond(phone) {
    font-size: 2.4rem;
  }
}

.heading-secondary {
  color: inherit;
  font-size: 2.8rem;
  @include respond(tab-land) {
    padding: 4rem 0 2rem 0;
    width: 80%;
    margin: 0 auto;
  }
}

.light {
  color: $color--very-dark-blue-text;
  background-color: $color--white;
}

.dark {
  color: $color--white;
  background-color: $color--dark-blue;
}
