.countries__section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 3rem;
  column-gap: 7rem;
  padding: 2rem 0 4rem 0;

  @include respond(tab-land) {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0;
  }

  @include respond(tab-port) {
    grid-template-columns: 1fr 1fr;
    column-gap: 0;
  }

  @include respond(phone) {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
}

.country__container {
  height: 36.5rem;
  width: 26.4rem;
  box-shadow: $setting--box-shadow;
  padding: 0 0 4rem 0;
  transition: .4s all;
  background-color: $color--white;
  border: 2px solid #333;
}

.country__list {
  list-style: none;

  &--item {
    padding: 0.5rem 2rem;
  }
}

.country__name {
  padding: 2rem 2rem;
  width: 100%;
}

.country__flag {
  width: 100%;
  height: 15rem;
  border-bottom: 2px solid #333;
}

.country__details {
  text-decoration: none;
  color: $color--very-dark-blue-text;
}