.countries__section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 4rem;
  padding: 2rem 0 4rem 0;
}

.country__container {
  height: 42.1rem;
  width: 32rem;
  box-shadow: $setting--box-shadow;
  padding: 0 0 4rem 0;
  transition: .4s all;
}

.country__list {
  list-style: none;

  &--item {
    padding: 0.5rem 2rem;
  }
}

.country__name {
  padding: 2rem 2rem;
  width: 100%;
}

.country__flag {
  width: 32rem;
  height: 21.3rem;
}

.country__details {
  text-decoration: none;
  color: $color--very-dark-blue-text;
}