.header {
  background-color: $color--dark-blue;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }
}

.theme__mode--dark {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: inherit;
}

.theme__mode--light {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: inherit;
}