.header {
  background-color: $color--white;
  //border-bottom: 3px solid #111;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }
}

