.header {
  background-color: $color--white;
  border-bottom: 1px solid;
  border-color: inherit;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }
}

