.inputs__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 2rem 1.5rem 2rem;
}

.search__container {
  position: relative;
}

.search-input {
  font-family: inherit;
  outline: none;
  border: none;
  padding: 1rem 7rem;
  box-shadow: 0 0.5rem 1.5rem -0.5rem hsl(200deg 15% 8%);
  color: inherit;
  background-color: $color--white;
  border-radius: 5rem;
  border: 2px solid;
  border-color: inherit;

  @include respond(phone) {
    padding: 1rem 0 1rem 3.5rem;
  }
}

.sort__button {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 3px;
  color: inherit;
  text-decoration: none;
}

.container__region {
  position: relative;
}

.region-input {
  font-family: inherit;
  font-size: 1.4rem;
  outline: none;
  padding: 1rem 3rem 1rem 2rem;
  box-shadow: 0 0.5rem 1.5rem -0.5rem hsl(200deg 15% 8%);
  color: inherit;
  background-color: $color--white;
  border: 2px solid;
  border-color: inherit;
  border-radius: 5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @include respond(phone) {
    padding: 1rem;
  }
}

.arrow-down {
  position: absolute;
  color: inherit;
  top: 14px;
  right: 13px;
}

.button__search-icon {
  position: absolute;
  top: 11px;
  left: 13px;
  font-size: 2rem;
  background-color: inherit;
  border: none;
  cursor: pointer;
  color: inherit;
}

#theme-mode__checkbox {
  display: none;
}

.checkbox__label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 3rem;
  width: 6rem;
  background-color: #111;
  border-radius: 5rem;
}

.ball {
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  background-color: #fff;
  border-radius: 50%;
  width: 2.6rem;
  height: 2.6rem;
  transition: transform .2s ease-in-out;
}

#theme-mode__checkbox:checked + .checkbox__label .ball {
  transform: translateX(3rem);
}

.sun {
  font-size: 2rem;
  color: orange;
}

.moon {
  font-size: 2rem;
  color: yellow;
}

.button__return {
  font-family: inherit;
  font-size: 2.4rem;
  margin-top: 6rem;
  margin-left: 2rem;
  padding: 0.5rem 3rem;
  border-radius: 5px;
  border: 2px solid;
  border-color: inherit;
  background-color: inherit;
  transition: transform .4s;
  color: inherit;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(1);
  }

  @include respond(tab-land) {
    margin-left: 0;
  }
}

.wrapper__return-button {
  @include respond(tab-land) {
    width: 80%;
    margin: 0 auto;
  }
}